1.	Write a Python Program to Find the Factorial of a Number?

In [17]:
def Factorial(num):
  fact=1
  if fact==0:
    return 1
  else:
    for i in range(1,num+1):
      
      fact=fact*i
    return fact
Fact=Factorial(3)
print(f"The factarial of number is {Fact}")

The factarial of number is 6

2.	Write a Python Program to Display the multiplication Table?

In [18]:
Num=10
for i in range(1, 11):
   print(Num, 'x', i, '=', Num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
3.	Write a Python Program to Print the Fibonacci sequence?

In [28]:
nterms = 6
n1, n2 = 0, 1
count = 0
if nterms == 1:
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence:
0
1
1
2
3
5

4.	Write a Python Program to Check Armstrong Number?

In [29]:
n = 153 
s = n 
b = len(str(n))
sum1 = 0
while n != 0:
    r = n % 10
    sum1 = sum1+(r**b)
    n = n//10
if s == sum1:
    print("The given number", s, "is armstrong number")
else:
    print("The given number", s, "is not armstrong number")

The given number 153 is armstrong number

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [30]:
lower = 100
upper = 2000
for num in range(lower, upper + 1):
  order = len(str(num))
  sum = 0
  temp = num
  while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

  if num == sum:
       print(num)

153
370
371
407
1634

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [35]:
n=10 #enter the range
sum=n*(n+1)/2
print(f"Sum of natural number is {int(round(sum,0))}")

Sum of natural number is 55