1.	Write a Python program to convert kilometers to miles?

In [4]:
# Inorder to convert km to miles we need to multiply the km with 0.6214. i.e 1km=0.6214 miles.
def km_to_miles(in_km):
  converted_value=in_km*0.6214
  return converted_value

mile_value=km_to_miles(13)
print(f"The value converted to miles is {round(mile_value,3)}")

The value converted to miles is 8.078

2.	Write a Python program to convert Celsius to Fahrenheit?

In [7]:
# Celsius to fahrenheit formula (F =C * 1.8000+ 32.00)

def fahrenheit(input_celsius):
  output_fahrenheit=(input_celsius*1.8000)+32.00
  return output_fahrenheit

Fahrenheit_value=fahrenheit(11.235)

print(f"The fahrenheit equivalent value of 11.235 celsius is {round(Fahrenheit_value,5)}")

The fahrenheit equivalent value of 11.235 celsius is 52.223

3.	Write a Python program to display calendar?

In [8]:
# importing calendar module
import calendar

year = 2022  # year
month = 12    # month


# display the calendar
print(calendar.month(year, month))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

4.	Write a Python program to solve quadratic equation?

In [1]:


# import complex math module
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

5.	Write a Python program to swap two variables without temp variable?

In [4]:
def swap_without_temp(a,b):
  a=a+b
  b=a-b
  a=a-b
  return a,b
a,b=swap_without_temp(2,3)
print(f"The value of a,b before swap is (2,3) and the value after swap is {a,b}")

The value of a,b before swap is (2,3) and the value after swap is (3, 2)